
body {
    background-color: #22333B;
    height: 90vh;
}

.url-input button{
    background-color: #8EDCE6;
}

.scrollable {
    overflow-y: scroll; 
}

.video-list-container {
    height: 80%;
    background-color: #ffffff;
}

.container {
    height: inherit;
    max-width: 720px;
    max-height: 520px;
}

#app {
    height: inherit;
}

.video-item {
    max-width: 100%;
    max-height: 79px;
    min-width: 100%;
    min-height: 79px;
    border-bottom: 1px solid black;
    color: black;

}

.video-item img {
    float: left;
    font-size: 8px;
    width: 15%;
}

.loading-gif {
    width: 32px;
    margin: 0 auto;
}

.video-item .details{
    float: left;
}

.video-item .details .status-box{
    width: 300px;
    height: 20px;
}

.video-item .details .status-box span{
    position: relative;
    bottom: 3px;
}

.video-item .details .status{
    display: inline-block;
    width: 240px;
}

.video-item .details .title{

    font-weight: 800;
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}

.video-item .details .duration {
    display: block;
}